:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-5: hsl(205, 78%, 60%);

  --transition: all 0.3s linear;
}
.container {
  position:sticky;
  left: 0;
  bottom: 0;
   width: 100%;
}
.footer {
  justify-self: center;
  justify-content: space-around;
  display: flex;
  border-top: 1px solid whitesmoke;
  padding: 10px;
  background-color: rgb(167, 86, 86);
  color: whitesmoke;
  text-align: center;
}
.footer > p {
  padding: 10px;
  font-size: 14px;
}
.social-icons {
  padding: 10px;
  justify-content: space-around;
  justify-self: center;
  display: flex;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
a {
  
  padding: 4px;
}
